INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
.deps
.libs
*.o
*.lo
*.la
ChangeLog*
*.gir
*.typelib
config.*
configure
depcomp
doltcompile
doltlibtool
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
/po/Makefile.in.in
/po/POTFILES
/po/*.pot
*.swn
*.swo
*.swp
*~
*.orig
*.rej
tidy/libtidy.a
src/eom
